body {
  font-family: Arial;
  margin: auto;
  width: 60%;
  padding-left: 10px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
  width: auto;
}

.cursor {
  cursor: pointer;
}

img {
  vertical-align: middle;
  height: 70vh;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgb(10, 2, 2);
}

.numtext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 9px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 10px;
  color: white;
  font-size: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.6%;
  
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
